<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" placeholder="username" name="username"><br>
    <input type ="email" placeholder="email" name="email"><br>
    <input type="password" placeholder="password" name="password">
    <input type="password" placeholder="Re enter password"><br>
    <input type="name" placeholder="name" name="name"><br>
    <input type="number" placeholder="age" name="age"><br>
    photo<input type="file" placeholder="photo" name="photo"><br>
    <input type="number" placeholder="contact no" name="phone"><br>
    <input type="text" placeholder="address" name="address"><br>
    <input type="experience" placeholder="experience" name="experience"><br>
    experience certificate<input type="file" placeholder="experience certificate" name="experience_certicate"><br>
   resume <input type="file" placeholder="biodata" name="biodata"><br>
    <input type="submit" value="Register">
 </form>
</body>
</html>