{% extends 'trainer/homepage.html' %}
{% block body %}
    <div class="container2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="media">Video/Image</label>
            <input type="file" name="media" id="media" required><br>

            <label for="description">Description</label>
            <input type="text" name="description" id="description" required><br>

            <input type="submit" value="Upload">
        </form>
    </div>
{% endblock %}
