{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{% static 'css/admin_home.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="container">
        <nav>
            <div class="links">
                <h2> HELLO ADMIN</h2>
                <hr>
                <a href="{% url 'verify' %}">Verify</a>
                <a href="#">Manage</a>
                <a href="{% url 'manage_shop' %}">Shop</a>
                <a href="{% url 'workout' %}">Post</a>
                <a href="{% url 'managetrainer' %}">Status</a>
                <a href="#">Complaint</a>
                <a href="#">Feedback</a>
                <a href="{% url 'view_all_suggestions' %}">suggestion</a>
            </div>
        </nav>
        <section>
            {% block body %}
            {% endblock %}
        </section>
    </div>
</body>
</html>