{% extends 'shop/homepage.html' %}
{% load static %}
{% block body %}
    <div class="show">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="contain">
                <h3>Edit Product</h3>
                <div class="pic">
                    <img src="{{data.product_image.url }}" alt="product image">
                </div>
                <input type="file" name="product_image">
                <div class="set">
                    <label>Product Name : </label><input type="text" value="{{data.product_name}}" name="product_name">
                </div>
                <div class="set">
                    <label>Description : </label><input type="text" value="{{data.description}}" name="description">
                </div>
                <div class="set">
                    <label>Price : </label><input type="number" value="{{data.price}}" name="price">
                </div>
                <div class="set">
                    <label>Brand : </label><input type="text" value="{{data.brand}}" name="brand">
                </div>
                <input type="submit" value="Save" class="btns">
            </div>
        </form>

    </div>
{% endblock %}