{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/shophome.css" %}">
</head>
<body>
    <div class="container">
        <nav>
            <h1>Hii Sir</h1>
            <hr>
            <div class="links">
                <ul class="dpdwn">
                    <a>Products</a>
                    <ul class="options">
                        <li><a href="{% url 'productview' %}">View products</a></li>
                        <li><a href="{% url 'productadding' %}">Add products</a></li>
                    </ul>
                </ul>
                <hr>
                <a href="#">Bookings</a>
                <hr>
                <a href="#">Users</a>
                <hr>
                <a href="#">Rating</a>
                <hr>
                <a href="#">Review</a>
                <hr>
             </div>
        </nav>
        <section>
            <h1>Shop managing pannel</h1>
            <hr>
        </section>
    </div>
</body>
</html>