{% block body %}

<!-- Display Trainer Information -->
<div class="trainer_info">
    {% if trainer %}
        {% if trainer.photo %}
            <img src="{{ trainer.photo.url }}" alt="{{ trainer.name }}" width="150" height="150">
        {% endif %}
        <p>{{ trainer.name }}</p> <!-- Add trainer's name if desired -->
    {% endif %}
</div>

<!-- Display Media Posts -->
<div class="media_box">
    {% for post in media %}
    <div class="post">
        {% if post.lock and post.lock.photo %}
            <div class="trainer_photo">
                <img src="{{ post.lock.photo.url }}" alt="Trainer Photo" width="100" height="100">
            </div>
        {% endif %}

        <!-- Display the media -->
        {% if post.media|lower|slice:"-4:" == ".png" or post.media|lower|slice:"-4:" == ".jpg" %}
            <div class="pic">
                <img src="{{ post.media.url }}" alt="Media" width="300" height="200">
            </div>
        {% elif post.media|lower|slice:"-4:" == ".mp4" %}
            <div class="screen">
                <video src="{{ post.media.url }}" width="300" height="200" controls></video>
            </div>
        {% endif %}
        <p>{{ post.description }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}
