<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav ul{
            display:flex;
            list-style: none;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <header>
        <h1>Fitness Hub</h1>
    </header>
    <nav>
        <ul>
            <li><a href="">home</a></li>
            <li><a href="">About</a></li>
            <li><a href="{% url 'homepage' %}">Shop</a></li>
            <li><a href="">Trainer</a></li>
            <li><a href="">specialist</a></li>
            <li><a href="">login</a></li>
        </ul>
        
    </nav>
</body>
</html>