{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userpage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">FitTrack</div>
            <button class="hamburger" onclick="toggleMenu()">☰</button>
            <ul class="nav-links">
              <li><a href="/home">Home</a></li>
              <li class="dropdown">
                <a href="#">Services</a>
                <ul class="dropdown-menu">
                  <li><a href="/trainers">Trainers</a></li>
                  <li><a href="/specialists">Specialists</a></li>
                  <li><a href="/shops">Nutrition Shops</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#">Diet & Rewards</a>
                <ul class="dropdown-menu">
                  <li><a href="/diet-charts">Diet Charts</a></li>
                  <li><a href="/rewards">Rewards</a></li>
                  <li><a href="{% url 'complaintreply' %}">viewreply</a></li>
                  <li><a href="{% url 'submitfeedback' %}">submitfeedback</a></li>
                </ul>
              </li>
              <li><a href="{% url 'submit_complaint' %}">submitcomplaint</a></li>
                <li><a href="{% url 'specialistlist' %}">view specialists</a></li>
            </ul>
            <p><a href="{% url 'viewshop' %}">viewshop</a></p>
          </nav>
    </header>
</body>

</html>